body{
background-color: darkcyan;

}

h1{

background-color: darkgrey;

}

p{
background-color: darkcyan;

}

h2{
 background-color:darkgray ;
    
}

p{
background-color:darkgray ;

}

h3{
background-color: darkgray;

}

p{
background-color: dark grey;

}

h4{
    background-color: dark gray;
}
h5{
background-color:darkgray ;

}

h6{
background-color: dark grey;

}